@model GseWeb.Models.Holiday.HolidayYear_Manager

@{
    ViewBag.Title = "Gestione Ferie e Permessi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ferie = Model.Holidays.Where(x => x.Type == GseWeb.Models.Holiday.Holiday_Type.Ferie).ToArray();
    var permessi = Model.Holidays.Where(x => x.Type == GseWeb.Models.Holiday.Holiday_Type.Permesso).ToArray();
}
<div id="popup" style="overflow:hidden; width:auto; height:auto"></div>
<link href="~/Content/loadingPopup-1.1.css" rel="stylesheet" />
<div id="loading">
    <div class="loader"></div>
</div>
<h3>
    <span>
        <button class="btn btn-default selectmonth">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </button>
    </span>
    <span>Gestione Ferie e Permessi</span>
    <strong>@Model.Year</strong>
</h3>
<input type="button" value="Mostra Negate / Approvate" onclick="ShowHideNascosto();" class="btn btn-default btn-xs" />
@if (ferie.Length > 0)
{
    <h4>Richieste Ferie</h4>
    <table class="table table-bordered table-condensed gse-table">
        <thead>
            <tr>
                <th>Utente</th>
                <th>Giorno Inizio</th>
                <th>Giorno Fine</th>
                <th>Giorni Richiesta</th>
                <th>Note</th>
                <th>Stato Richiesta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ferie)
            {
                var status = (item.Status == GseWeb.Models.Holiday.Status_Request.Approvata) ? "glyphicon glyphicon-ok-sign text-green"
                            : (item.Status == GseWeb.Models.Holiday.Status_Request.Negata) ? "glyphicon glyphicon-remove-sign text-red"
                            : "glyphicon glyphicon-time text-gray";
                var hidden = (item.Status != GseWeb.Models.Holiday.Status_Request.Attesa) ? "nascosto" : "";
                var title = item.Status.ToString();
                <tr class="@hidden">
                    <td>
                        @item.User.LastName @item.User.FirstName
                    </td>
                    <td>
                        @item.Date_From.ToString("dd/MM/yyy")
                    </td>
                    <td>
                        @item.Date_To.ToString("dd/MM/yyy")
                    </td>
                    <td>
                        @item.Days
                    </td>
                    <td>
                        @item.Request_Note
                    </td>
                    <td title="@title">
                        <span class="@status"></span>
                    </td>
                    <td>
                        @if (item.Status != GseWeb.Models.Holiday.Status_Request.Approvata)
                        {
                            <input type="button" value="Approva" class="btn btn-success btn-xs" onclick="getPopup('@Url.Action("GetApproveHoliday", "Holiday" , new { id = item.Id, status = true }, null)')" />
                        }
                        @if (item.Status != GseWeb.Models.Holiday.Status_Request.Negata)
                        {
                            <input type="button" value="Nega" class="btn btn-danger btn-xs" onclick="getPopup('@Url.Action("GetApproveHoliday", "Holiday" , new { id = item.Id, status = false }, null)')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (permessi.Length > 0)
{
    <h4>Richieste Permessi</h4>
    <table class="table table-bordered table-condensed gse-table">
        <thead>
            <tr>
                <th>Utente</th>
                <th>Giorno</th>
                <th>Ora Inizio</th>
                <th>Ora Fine</th>
                <th>Ore Totali</th>
                <th>Motivazione</th>
                <th>Stato Richiesta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in permessi)
            {
                var status = (item.Status == GseWeb.Models.Holiday.Status_Request.Approvata) ? "glyphicon glyphicon-ok-sign text-green"
                            : (item.Status == GseWeb.Models.Holiday.Status_Request.Negata) ? "glyphicon glyphicon-remove-sign text-red"
                            : "glyphicon glyphicon-time text-gray";
                var hidden = (item.Status != GseWeb.Models.Holiday.Status_Request.Attesa) ? "nascosto" : "";
                var title = item.Status.ToString();
                <tr class="@hidden">
                    <td>
                        @item.User.LastName @item.User.FirstName
                    </td>
                    <td>
                        @item.Date_From.ToString("dd/MM/yyy")
                    </td>
                    <td>
                        @item.Time_From
                    </td>
                    <td>
                        @item.Time_To
                    </td>
                    <td>
                        @item.Hours
                    </td>
                    <td>
                        @item.Request_Note
                    </td>
                    <td title="@title">
                        <span class="@status"></span>
                    </td>
                    <td>
                        @if (item.Status != GseWeb.Models.Holiday.Status_Request.Approvata)
                        {
                            <input type="button" value="Approva" class="btn btn-success btn-xs" onclick="getPopup('@Url.Action("GetApproveHoliday", "Holiday" , new { id = item.Id, status = true }, null)')" />
                        }
                        @if (item.Status != GseWeb.Models.Holiday.Status_Request.Negata)
                        {
                            <input type="button" value="Nega" class="btn btn-danger btn-xs" onclick="getPopup('@Url.Action("GetApproveHoliday", "Holiday" , new { id = item.Id, status = false }, null)')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
<input type="button" value="Mostra Mesi Passati" onclick="ShowHidePassato();" class="btn btn-default btn-xs" />
@foreach (var m in Model.Months)
{
    var passato = (m.Month < DateTime.Now.Month) ? "passato" : "";
    <div class="@passato">
        <h3>@ShareCode.MonthIT(m.Month) @Model.Year</h3>
        <table class="table table-bordered table-condensed gse-table-header">
            <thead>
                <tr>
                    <th>Utente</th>
                    @foreach (var i in Enumerable.Range(1, DateTime.DaysInMonth(Model.Year, m.Month)))
                    {
                        <th>@i</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var u in m.Users)
                {
                    <tr>
                        <td><strong>@u.User.LastName @u.User.FirstName</strong></td>
                        @foreach (var d in u.Days)
                        {
                            if (d.Holiday != null)
                            {
                                var img = (d.Holiday.Type == GseWeb.Models.Holiday.Holiday_Type.Ferie) ? "glyphicon glyphicon-send" : "glyphicon glyphicon-time";
                                var title = (d.Holiday.Type == GseWeb.Models.Holiday.Holiday_Type.Ferie) ? string.Format("Ferie [{0}]", d.Holiday.Status) : string.Format("Permesso {0}-{1} [{2}]", d.Holiday.Time_From, d.Holiday.Time_To, d.Holiday.Status);
                                var color = (d.Holiday.Status == GseWeb.Models.Holiday.Status_Request.Approvata) ? "text-green"
                                    : (d.Holiday.Status == GseWeb.Models.Holiday.Status_Request.Negata) ? "text-red"
                                    : "text-gray";
                                var colday = (d.DayOfWeek == DayOfWeek.Saturday) ? "bg-info"
                                  : (d.DayOfWeek == DayOfWeek.Sunday) ? "bg-danger" : "bg-whitesmoke";

                                var nascosto = (d.Holiday.Status == GseWeb.Models.Holiday.Status_Request.Negata) ? "nascosto" : "";
                                <td class="@colday" title="@title">
                                    <span class="@img @color @nascosto"></span>
                                </td>
                            }
                            else
                            {
                                var colday = (d.DayOfWeek == DayOfWeek.Saturday) ? "bg-info"
                                  : (d.DayOfWeek == DayOfWeek.Sunday) ? "bg-danger" : "bg-whitesmoke";
                                <td class="@colday"></td>

                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    $('.nascosto').hide();
    function ShowHideNascosto() {
        $('.nascosto').toggle();
    }

    $('.passato').hide();
    function ShowHidePassato() {
        $('.passato').toggle();
    }
</script>

@*Pupup*@
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/popup-1.1.js"></script>

@*Gestione DatePicker*@
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script>
    $('.selectmonth').datepicker({
        startView: 2,
        minViewMode: 2,
        maxViewMode: 2,
        language: "it",
        keyboardNavigation: false,
        autoclose: true,
    });

    $('.selectmonth').datepicker().on('changeDate', function (e) {
        var year = e.date.getFullYear();
        var month = e.date.getMonth() + 1;
        window.location = '/Holiday/Manage?year=' + year;
    });
</script>
