@model GseWeb.Models.Orders.EditOrderId

@using (Html.BeginForm("EditOrderId", "Orders", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "BeginForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.OldOrderId)

        <div class="form-group">
            <label class="control-label col-md-5">Vecchio Codice Commessa</label>
            <div class="col-md-7 form-control-static">
                @Model.OldOrderId
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">Nuovo Codice Commessa</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.NewOrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewOrderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Salva" class="btn btn-default" />
                <input type="button" value="Annulla" class="btn btn-default" onclick="closePopup();" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#popup").dialog('option', 'title', '@ViewBag.Title');
    $('#BeginForm').submit(function (e) {
        $('#loading').show();
        e.preventDefault(); //prevent submit
        $.ajax({
            type: "POST",
            url: "/Orders/EditOrderId",
            data: $('#BeginForm').serialize(),
            datatype: "html",
            success: function (data) {
                $('#popup').html(data);
            }
        })
        .always(function (data) {
            $('#loading').hide();
        });
        //return false;
    });
</script>

