@using System.Globalization;
@model GseWeb.Models.Report.ReportOrderVM

@{
    ViewBag.Title = "ReportOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CInfIT = CultureInfo.CreateSpecificCulture("it-IT");
}

<style>
    .gse-tbody-select > tr:hover {
        background-color: #F5F5F5;
        cursor: pointer;
    }

    .HiddenMonth {
        display: none;
    }

    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .yellow {
        background-color: yellow;
    }

    .btn-export {
        height: 34px;
        width: 34px;
        padding: 0;
    }

        .btn-export > img {
            height: 100%;
            width: 100%;
            margin: 0;
        }
</style>

<script>
    function btToggle(src, cls) {
        $(cls).toggle();
        if ($(cls).css('display') == 'none') {
            $(src).find('span').removeClass('glyphicon glyphicon-minus-sign text-danger');
            $(src).find('span').addClass('glyphicon glyphicon-plus-sign text-success');

        } else {
            $(src).find('span').removeClass('glyphicon glyphicon-plus-sign text-success');
            $(src).find('span').addClass('glyphicon glyphicon-minus-sign text-danger');
        }
    }
</script>

<div id="popup" style="overflow:hidden; width:auto; height:auto"></div>

<h2>Report Commessa</h2>
<h3>
    <strong>@Model.Order.OrderId</strong>
</h3>
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.TeamLeaderInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.ExpectedCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Cost_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Cost_Labor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Cost_Various)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Cost_Materials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.FinishDate)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Order.UsersInfo)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Order.Client)
        </td>
        <td>
            @Html.DisplayFor(model => model.Order.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Order.TeamLeaderInfo)
        </td>
        <td nowrap>
            @Model.Order.ExpectedCost.ToString("C", CInfIT)
        </td>
        <td nowrap>
            @Model.Order.Cost_Total.ToString("C", CInfIT)
        </td>
        <td nowrap>
            @Model.Order.Cost_Labor.ToString("C", CInfIT)
        </td>
        <td nowrap>
            @Model.Order.Cost_Various.ToString("C", CInfIT)
        </td>
        <td nowrap>
            @Model.Order.Cost_Materials.ToString("C", CInfIT)
        </td>
        <td>
            @Html.DisplayFor(model => model.Order.FinishDate)
        </td>
        <td nowrap style="font-size:9px">
            <ul>
                @foreach (var u in Model.Order.UsersInfo)
                {
                    <li>@u</li>
                }
            </ul>
        </td>
    </tr>
</table>
<hr />
<h4>
    <a onclick="btToggle(this, '.HiddenMonth')" style="cursor:pointer;">
        <span class="glyphicon glyphicon-plus-sign text-success"></span>
    </a>
    Manodopera
</h4>
<table class="table table-condensed gse-table">
    <thead>
        <tr>
            <th>
                Totale
            </th>
            <th>
                Ore da Approvare
            </th>
            <th>
                Ore Approvate
            </th>
            <th>
                Costo Ore
            </th>
            <th>
                Rimborsi Chilometrici
            </th>
            <th>
                Rimborsi Spese
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @item.UserInfo
                </td>
                <td>
                    @ShareCode.HHmmString(item.HoursNotApproved)
                </td>
                <td>
                    @ShareCode.HHmmString(item.HoursApproved)
                </td>
                <td>
                    @item.Cost_Hours.ToString("C", CInfIT)
                </td>
                <td>
                    @item.Cost_Vehicles.ToString("C", CInfIT)
                </td>
                <td>
                    @item.Cost_Expenses.ToString("C", CInfIT)
                </td>
            </tr>
        }
    </tbody>
    @foreach (var month in Model.Months)
    {
        var MonthName = CInfIT.TextInfo.ToTitleCase(CInfIT.DateTimeFormat.GetMonthName(month.Month));
        <tr class="HiddenMonth">
            <td colspan="3"></td>
        </tr>
        <thead class="HiddenMonth">
            <tr>
                <th>
                    @MonthName @month.Year
                </th>
                <th>
                    @ShareCode.HHmmString(month.HoursNotApproved)
                </th>
                <th>
                    @ShareCode.HHmmString(month.HoursApproved)
                </th>
                <th>
                    @month.Cost_Hours.ToString("C", CInfIT)
                </th>
                <th>
                    @month.Cost_Vehicles.ToString("C", CInfIT)
                </th>
                <th>
                    @month.Cost_Expenses.ToString("C", CInfIT)
                </th>
            </tr>
        </thead>
        <tbody class="gse-tbody-select HiddenMonth">
            @foreach (var user in month.Users)
            {
                <tr onclick="getPopup('@Url.Action("ReportLabor", "Report" , new { year = month.Year, month = month.Month, UserId = user.UserId, OrderId = Model.Order.OrderId }, null)')">
                    <td>
                        @user.UserInfo
                    </td>
                    <td>
                        @ShareCode.HHmmString(user.HoursNotApproved)
                    </td>
                    <td>
                        @ShareCode.HHmmString(user.HoursApproved)
                    </td>
                    <td>
                        @user.Cost_Hours.ToString("C", CInfIT)
                    </td>
                    <td>
                        @user.Cost_Vehicles.ToString("C", CInfIT)
                    </td>
                    <td>
                        @user.Cost_Expenses.ToString("C", CInfIT)
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

<hr />
<h4>
    <span>
        <a onclick="getPopup('@Url.Action("GetMaterial", "Material", new { OrderId = Model.Order.OrderId, returnUrl = Request.Url.PathAndQuery })')" style="cursor:pointer;">
            <span class="glyphicon glyphicon-plus-sign text-success"></span>
            Materiale
        </a>
    </span>
    @if (Model.Materials.Count() > 0)
    {
        <span class="pull-right">
            <span class="pull-right">
                <a class="btn btn-default btn-export"href="@Url.Action("Export","Material", new { OrderId = Model.Order.OrderId })">
                    <img src="~/Images/LogoExcel.ico" />
                </a>
            </span>
            <span class="pull-right">
                <input type="text" id="search" class="form-control" placeholder="Cerca" />
            </span>
        </span>
    }
</h4>
@if (Model.Materials.Count() > 0)
{
    <table id="tableMaterials" class="table table-condensed gse-table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Data
                </th>
                <th>
                    Fornitore
                </th>
                <th>
                    Codice Materiale
                </th>
                <th>
                    Descrizione
                </th>
                <th>
                    Quantità Ordinata
                </th>
                <th>
                    Quantità Utilizzata
                </th>
                <th>
                    Quantità Rimanente
                </th>
                <th>
                    Prezzo Unit.
                </th>
                <th>
                    Totale Utilizzato
                </th>
                <th>
                    Totale Rimanente
                </th>
                <th nowrap>
                    <span>Ordinato</span>
                    <div class="dropdown pull-right">
                        <button id="filterOrd" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="FilterOrder('#OrdTrue');">SI</a></li>
                            <li><a onclick="FilterOrder('#OrdFalse');">NO</a></li>
                            <li><a onclick="FilterOrder('');">TUTTI</a></li>
                        </ul>
                    </div>
                </th>
                <th>
                    <span>Ricevuto</span>
                    <div class="dropdown pull-right">
                        <button id="filterRec" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="FilterRecive('#RecTrue');">SI</a></li>
                            <li><a onclick="FilterRecive('#RecFalse');">NO</a></li>
                            <li><a onclick="FilterRecive('');">TUTTI</a></li>
                        </ul>
                    </div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Materials)
            {
                <tr>
                    <td>
                        <input type="button" class="btn btn-default btn-xs" value="Modifica" onclick="getPopup('@Url.Action("GetMaterial", "Material", new { Id = m.Id, returnUrl = Request.Url.PathAndQuery })')" />
                    </td>
                    <td>
                        @m.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @m.Supplier
                    </td>
                    <td>
                        @m.Code
                    </td>
                    <td>
                        @m.Description
                    </td>
                    <td>
                        @m.Amount_Ordered
                    </td>
                    <td>
                        @m.Amount_Used
                    </td>
                    <td>
                        @m.Amount_NotUsed
                    </td>
                    <td>
                        @m.Price.ToString("C", CInfIT)
                    </td>
                    <td>
                        @m.Total_Used.ToString("C", CInfIT)
                    </td>
                    <td>
                        @m.Total_NotUsed.ToString("C", CInfIT)
                    </td>
                    <td style="text-align:center">
                        @ShareCode.boolImg(m.Ordered)
                    </td>
                    <td style="text-align:center">
                        @ShareCode.boolImg(m.Recived)
                    </td>
                    <td>
                        @Html.ActionLink("Elimina", "DeleteMaterial", "Material", new { Id = m.Id, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default btn-xs", @onclick = "return confirm('Sicuro di Voler Eliminare?');" })
                    </td>
                    <td style="display:none;">
                        @((m.Ordered) ? "#OrdTrue" : "#OrdFalse")
                    </td>
                    <td style="display:none;">
                        @((m.Recived) ? "#RecTrue" : "#RecFalse")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
@Html.ActionLink("Indietro", "ReportOrders")

@*Cerca Materiali*@
<script>
    var $rowsMaterial = $('#tableMaterials tbody tr');
    var $filterText = '';
    var $filterOrder = '';
    var $filterRecive = '';

    // Input cerca
    $('#search').keyup(function () {
        $filterText = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        FilterMaterial();
    });

    // Filtro Ordinate
    function FilterOrder(val) {
        $filterOrder = $.trim(val).replace(/ +/g, ' ').toLowerCase();
        FilterMaterial();
        ColorFilter($('#filterOrd'), ((val == '') ? false : true));
    }

    // Filtro Ricevute
    function FilterRecive(val) {
        $filterRecive = $.trim(val).replace(/ +/g, ' ').toLowerCase();
        FilterMaterial();
        ColorFilter($('#filterRec'), ((val == '') ? false : true));
    }

    // Color Filter
    function ColorFilter(obj, isSet) {
        if (isSet) {
            $(obj).addClass('yellow');
        } else {
            $(obj).removeClass('yellow');
        }
    }

    function FilterMaterial() {
        $rowsMaterial.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf($filterText) || !~text.indexOf($filterOrder) || !~text.indexOf($filterRecive);
        }).hide();
    }
</script>


@*Pupup*@
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script>
    $(function () {
        $("#popup").dialog({
            autoOpen: false,
            title: 'Title',
            width: 'auto',
            height: 'auto',
            modal: true,
            draggable: false,
            resizable: false,
        });
    });

    function getPopup(Url) {
        $.get(Url)
        .success(function (data) {
            $('#popup').html(data);
            $('#popup').dialog('open');
            // Posizione popup
            if ($('#popup').closest('.ui-dialog').offset().top < 80) {
                $('#popup').closest('.ui-dialog').css({ 'top': '80px' });
            }
        });
    }

    function closePopup() {
        $('#popup').dialog('close')
    }
</script>

@*Risposta di eliminazione*@
@if (TempData["DeleteMessage"] != null)
{
    <script>
        alert('@TempData["DeleteMessage"]');
    </script>
}



