@using System.Globalization;
@using GseWeb.Models;
@model GseWeb.Models.Hours.HoursOfMonth

@{
    var CInfIT = CultureInfo.CreateSpecificCulture("it-IT");
    var MonthName = CInfIT.TextInfo.ToTitleCase(CInfIT.DateTimeFormat.GetMonthName(Model.Month));
    ViewBag.Title = string.Format("{0} - {1}", MonthName, Model.Year);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.IsManager)
{
    @Html.ActionLink("Indietro", "ReportUsers", "Report", new { year = Model.Year, month = Model.Month }, null)
    <br />
}

@*Loader*@
<link href="~/Content/loadingPopup-1.1.css" rel="stylesheet" />
<div id="loading">
    <div class="loader"></div>
</div>
@*Popup*@
<div id="popup" style="overflow:hidden; width:auto; height:auto"></div>

<div class="col-xs-6">
    <h3>
        @if (!ViewBag.IsManager)
            {
            <span>
                <button class="btn btn-default selectmonth">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
        }
        <span class="visible-lg-inline visible-md-inline">@MonthName - @Model.Year</span>
        <span class="visible-sm-inline visible-xs-inline noprint">@Model.Month/@Model.Year</span>
    </h3>
    <h4 title="@ShareCode.HHmmString(Model.ExtraAmount)">@(Model.User.FirstName) @(Model.User.LastName)</h4>
</div>
<div class="col-xs-6">
    <table class="table table-condensed" style="font-size: 12px;">
        @foreach (var item in Model.Report)
        {
            <tr bgcolor="@ShareCode.WorkTypeColor(item.Id)" style="font-weight:bold">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:right;">
                    @if (item.Value.GetType() == typeof(TimeSpan))
                    {
                        @ShareCode.HHmmString((TimeSpan)item.Value)
                    }
                    else
                    {
                        <span>@item.Value.ToString()</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>
<table class="table gse-table-header table-condensed">
    <thead>
        <tr>
            @if (!ViewBag.IsManager && !Model.Frozen)
            {
                <th></th>
            }
            <th>Data</th>
            <th>Presenza</th>
            <th>Ore Previste</th>
            <th>Ore Ord.</th>
            <th>Ore Straord.</th>
            <th>Ore Viaggio</th>
            <th>Trasferta</th>
            <th>Causale</th>
            <th>Note</th>
            <th>Commesse</th>
            @if (!ViewBag.IsManager && !Model.Frozen)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hours)
        {
            //Colori righe
            var bgc = (item.WorkTypeRegular != GseWeb.Models.Hours.WorkType.Default) ? ShareCode.WorkTypeColor((int)item.WorkTypeRegular) : "";
            bgc = ShareCode.DayWeekColor((int)item.Date.DayOfWeek, item.IsFestivity, bgc);
            <tr bgcolor="@bgc">
                @if (item.WorkTypeRegular != GseWeb.Models.Hours.WorkType.Default)
                {
                    if (!ViewBag.IsManager && !Model.Frozen)
                    {
                        <td>
                            @if (item.WorkTypeRegular != GseWeb.Models.Hours.WorkType.Ferie && item.Date <= DateTime.Now)
                            {
                                <input type="button" class="btn btn-default btn-xs" value="Modifica" onclick="getPopup('@Url.Action("GetDay", "Hours", new { year = item.Date.Year, month = item.Date.Month, day = item.Date.Day }, null)')" />
                            }
                        </td>
                    }
                    <td nowrap>
                        @ShareCode.DayWeekIT(item.Date)
                        @item.Date.Day
                    </td>
                    <td>
                        @ShareCode.boolImg(item.Presence)
                    </td>
                    <td>
                        @ShareCode.HHmmString(item.OrdinaryRegular)
                    </td>
                    <td>
                        @ShareCode.HHmmString(item.WorkTimeOrdinary)
                    </td>
                    <td>
                        @ShareCode.HHmmString(item.ExtraRegular)
                    </td>
                    <td>
                        @ShareCode.HHmmString(item.OrdersTimeTravel)
                    </td>
                    <td>
                        @ShareCode.boolImg(item.OffSite)
                    </td>
                    <td>
                        @item.WorkTypeRegular.Description()
                    </td>
                    <td>
                        @item.Note
                    </td>
                    <td nowrap style="font-size:9px">
                        <ul style="margin: 0; padding:0; list-style-type: none;">
                            @foreach (var o in item.WorkOrders)
                            {
                                <li style="padding: 0;">@ShareCode.boolOKNOK(o.Approved) @o.OrderId</li>
                            }
                        </ul>
                    </td>
                    if (!ViewBag.IsManager && !Model.Frozen)
                    {
                        <td>
                            @if (item.WorkTypeRegular != GseWeb.Models.Hours.WorkType.Ferie && item.Date <= DateTime.Now)
                            {
                                @Html.ActionLink("Elimina", "DeleteHour", "Hours", new { DateTicks = item.Date.Ticks, UserId = Model.User.UserId, returnUrl = ViewBag.ReturnUrl }, new { @class = "btn btn-default btn-xs" })
                            }
                        </td>
                    }
                }
                else
                {
                    if (!ViewBag.IsManager && !Model.Frozen)
                    {
                        <td>
                            @if (item.WorkTypeRegular != GseWeb.Models.Hours.WorkType.Ferie && item.Date <= DateTime.Now)
                            {
                                <input type="button" class="btn btn-default btn-xs" value="Aggiungi" onclick="getPopup('@Url.Action("GetDay", "Hours" , new { year = item.Date.Year, month = item.Date.Month, day = item.Date.Day}, null)')" />
                            }
                        </td>
                    }
                    <td nowrap>
                        @ShareCode.DayWeekIT(item.Date)
                        @item.Date.Day
                    </td>
                    <td>
                        @ShareCode.boolImg(item.Presence)
                    </td>
                    <td>
                        @ShareCode.HHmmString(item.OrdinaryRegular)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    if (!ViewBag.IsManager && !Model.Frozen)
                    {
                        <td></td>
                    }
                }

            </tr>
        }
    </tbody>
</table>

@*Gestione DatePicker*@
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script>
    $('.selectmonth').datepicker({
        startView: 1,
        minViewMode: 1,
        language: "it",
        keyboardNavigation: false,
        autoclose: true,
    });

    $('.selectmonth').datepicker().on('changeDate', function (e) {
        var year = e.date.getFullYear();
        var month = e.date.getMonth() + 1;
        window.location = '/Hours/Index?year=' + year + '&month=' + month;
    });
</script>

@*Pupup*@
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script>
    $(function () {
        $("#popup").dialog({
            autoOpen: false,
            title: 'Title',
            width: 'auto',
            height: 'auto',
            modal: true,
            draggable: false,
            resizable: false,
        });
    });

    function getPopup(Url) {
        $('#loading').show();
        $.get(Url)
        .success(function (data) {
            $('#popup').html(data);
            $('#popup').dialog('open');
            // Posizione popup
            if ($('#popup').closest('.ui-dialog').offset().top < 80) {
                $('#popup').closest('.ui-dialog').css({ 'top': '80px' });
            }
        })
        .error(function (data) {
            alert(data.responseText);
        })
        .always(function (data) {
            $('#loading').hide();
        });
    }

    function closePopup() {
        $('#loading').show();
        $('#popup').dialog('close');
        location.reload();
    }
</script>

@if (TempData["Error"] != null)
{
    <script>
        alert('@TempData["Error"]')
    </script>
}

@if (TempData["Success"] != null)
{
    <script>
        alert('@TempData["Success"]')
    </script>
}
